.pf-v5-c-masthead {
    /* background-color: var(--pf-v5-global--primary-color--800); */
    background-color: #AB0033;
}

.pf-v5-c-masthead .pf-v5-c-toolbar {
    background-color: #AB0033;
}
:root {
    /* --pf-v5-global--palette--black-1000: #283618 ;
    
    --pf-v5-global--BackgroundColor--100: #606c38;
    */
    /* --pf-v5-global--BackgroundColor--300:  #b86f02 ;

    --pf-v5-c-nav__link--m-current--BackgroundColor: #442277;

    --pf-v5-global--primary-color--300: #AB0033;

    --pf-v5-global--link--Color: #a83d5d;

    --pf-v5-c-button--m-link--Color: blue; */
} 