.login-pf body {
    background: #bc955c none;
}

div.kc-logo-text {
    width: 400px;
    height: 110px;
}


#kc-header-wrapper-real-name {
    margin-top: 10px;
}

#kc-header-wrapper {
    padding: 20px 10px 20px;
}



.card-pf {
    border-color: #AB0033;
}

a {
    color: #AB0033;
}

.login-pf a:hover {
    color: #c21146;
}

.pf-c-button.pf-m-primary {
    background-color: #AB0033;
}

.pf-c-button.pf-m-primary:hover {
    background-color: #c21146;
}